### Read nested JSON into pandas dataframe

In [ ]:
import pandas as pd

In [2]:
import urllib.request as request

In [3]:
url = 'https://jsonplaceholder.typicode.com/users'

In [6]:
with request.urlopen(url) as response:
    if response.getcode() == 200:
        source = response.read()
        data = json.loads(source)
    else:
        print("Error occured while retrieving data")

In [7]:
df = pd.json_normalize(data)
df.head(3)

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications

### Reading multilevel nested json data from another file

In [8]:
with open(r'./data/raw_nyc_phil.json', 'r') as f:
    nyc_data = json.load(f)

In [9]:
# type of nyc_data

type(nyc_data)

dict

In [10]:
# find no. of keys

len(nyc_data)

1

In [11]:
# check key name
nyc_data.keys()

dict_keys(['programs'])

In [13]:
# type of object which key has as its value

type(nyc_data['programs'])

list

In [41]:
# length of list
len(nyc_data['programs'])

13954

In [14]:
# first element of list
type(nyc_data['programs'][0])

dict

In [19]:
# keys of dictionary
nyc_data['programs'][0].keys()

dict_keys(['season', 'orchestra', 'concerts', 'programID', 'works', 'id'])

In [17]:
# display first element
print(json.dumps(nyc_data['programs'][0], indent=2))

{
  "season": "1842-43",
  "orchestra": "New York Philharmonic",
  "concerts": [
    {
      "Date": "1842-12-07T05:00:00Z",
      "eventType": "Subscription Season",
      "Venue": "Apollo Rooms",
      "Location": "Manhattan, NY",
      "Time": "8:00PM"
    }
  ],
  "programID": "3853",
  "works": [
    {
      "workTitle": "SYMPHONY NO. 5 IN C MINOR, OP.67",
      "conductorName": "Hill, Ureli Corelli",
      "ID": "52446*",
      "soloists": [],
      "composerName": "Beethoven,  Ludwig  van"
    },
    {
      "workTitle": "OBERON",
      "composerName": "Weber,  Carl  Maria Von",
      "conductorName": "Timm, Henry C.",
      "ID": "8834*4",
      "soloists": [
        {
          "soloistName": "Otto, Antoinette",
          "soloistRoles": "S",
          "soloistInstrument": "Soprano"
        }
      ],
      "movement": "\"Ozean, du Ungeheuer\" (Ocean, thou mighty monster), Reiza (Scene and Aria), Act II"
    },
    {
      "workTitle": "QUINTET, PIANO, D MINOR, OP. 74",
      "ID": "3642*",
      "soloists": [
        {
          "soloistName": "Scharfenberg, William",
          "soloistRoles": "A",
          "soloistInstrument": "Piano"
        },
        {
          "soloistName": "Hill, Ureli Corelli",
          "soloistRoles": "A",
          "soloistInstrument": "Violin"
        },
        {
          "soloistName": "Derwort, G. H.",
          "soloistRoles": "A",
          "soloistInstrument": "Viola"
        },
        {
          "soloistName": "Boucher, Alfred",
          "soloistRoles": "A",
          "soloistInstrument": "Cello"
        },
        {
          "soloistName": "Rosier, F. W.",
          "soloistRoles": "A",
          "soloistInstrument": "Contrabass"
        }
      ],
      "composerName": "Hummel,  Johann"
    },
    {
      "interval": "Intermission",
      "ID": "0*",
      "soloists": []
    },
    {
      "workTitle": "OBERON",
      "composerName": "Weber,  Carl  Maria Von",
      "conductorName": "Etienne, Denis G.",
      "ID": "8834*3",
      "soloists": [],
      "movement": "Overture"
    },
    {
      "workTitle": "ARMIDA",
      "composerName": "Rossini,  Gioachino",
      "conductorName": "Timm, Henry C.",
      "ID": "8835*1",
      "soloists": [
        {
          "soloistName": "Otto, Antoinette",
          "soloistRoles": "S",
          "soloistInstrument": "Soprano"
        },
        {
          "soloistName": "Horn, Charles Edward",
          "soloistRoles": "S",
          "soloistInstrument": "Tenor"
        }
      ],
      "movement": "Duet"
    },
    {
      "workTitle": "FIDELIO, OP. 72",
      "composerName": "Beethoven,  Ludwig  van",
      "conductorName": "Timm, Henry C.",
      "ID": "8837*6",
      "soloists": [
        {
          "soloistName": "Horn, Charles Edward",
          "soloistRoles": "S",
          "soloistInstrument": "Tenor"
        }
      ],
      "movement": "\"In Des Lebens Fruhlingstagen...O spur ich nicht linde,\" Florestan (aria)"
    },
    {
      "workTitle": "ABDUCTION FROM THE SERAGLIO,THE, K.384",
      "composerName": "Mozart,  Wolfgang  Amadeus",
      "conductorName": "Timm, Henry C.",
      "ID": "8336*4",
      "soloists": [
        {
          "soloistName": "Otto, Antoinette",
          "soloistRoles": "S",
          "soloistInstrument": "Soprano"
        }
      ],
      "movement": "\"Ach Ich liebte,\" Konstanze (aria)"
    },
    {
      "workTitle": "OVERTURE NO. 1, D MINOR, OP. 38",
      "conductorName": "Timm, Henry C.",
      "ID": "5543*",
      "soloists": [],
      "composerName": "Kalliwoda,  Johann  W."
    }
  ],
  "id": "38e072a7-8fc9-4f9a-8eac-3957905c0002"
}

In [20]:
nyc_df = pd.json_normalize(nyc_data["programs"])

In [21]:
nyc_df.head(3)

,season,orchestra,concerts,programID,works,id
0,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP....",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'...",894e1a52-1ae5-4fa7-aec0-b99997555a37

In [23]:
len(nyc_df.id) == nyc_df.id.nunique()

True

In [26]:
# setting up id as index
nyc_df.set_index('id', inplace=True)

In [27]:
nyc_df.head(3)

,season,orchestra,concerts,programID,works
id,,,,,
38e072a7-8fc9-4f9a-8eac-3957905c0002,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP...."
c7b2b95c-5e0b-431c-a340-5b37fc860b34,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...
894e1a52-1ae5-4fa7-aec0-b99997555a37,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'..."

In [29]:
concerts_df = pd.json_normalize(nyc_data["programs"], record_path = "concerts", meta=["id"])
concerts_df.set_index("id", inplace=True)
concerts_df.head(3)

,Date,eventType,Venue,Location,Time
id,,,,,
38e072a7-8fc9-4f9a-8eac-3957905c0002,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM
c7b2b95c-5e0b-431c-a340-5b37fc860b34,1843-02-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM
894e1a52-1ae5-4fa7-aec0-b99997555a37,1843-04-07T05:00:00Z,Special,Apollo Rooms,"Manhattan, NY",8:00PM

In [31]:
works_df = pd.json_normalize(nyc_data["programs"], record_path = "works", meta=["id"])
works_df.set_index("id", inplace=True)
works_df.head(3)

,workTitle,conductorName,ID,soloists,composerName,movement,interval,movement.em,movement._,workTitle.em,workTitle._
id,,,,,,,,,,,
38e072a7-8fc9-4f9a-8eac-3957905c0002,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",52446*,[],"Beethoven, Ludwig van",NaN,NaN,NaN,NaN,NaN,NaN
38e072a7-8fc9-4f9a-8eac-3957905c0002,OBERON,"Timm, Henry C.",8834*4,"[{'soloistName': 'Otto, Antoinette', 'soloistR...","Weber, Carl Maria Von","""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...",NaN,NaN,NaN,NaN,NaN
38e072a7-8fc9-4f9a-8eac-3957905c0002,"QUINTET, PIANO, D MINOR, OP. 74",NaN,3642*,"[{'soloistName': 'Scharfenberg, William', 'sol...","Hummel, Johann",NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
soloists_df = pd.json_normalize(nyc_data["programs"], record_path = ["works", "soloists"], meta="id")

In [33]:
soloists_df.head(3)

,soloistName,soloistRoles,soloistInstrument,id
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002

In [42]:
soloists_df.set_index('id', inplace=True)
soloists_df.head(3)

,soloistName,soloistRoles,soloistInstrument
id,,,
38e072a7-8fc9-4f9a-8eac-3957905c0002,"Otto, Antoinette",S,Soprano
38e072a7-8fc9-4f9a-8eac-3957905c0002,"Scharfenberg, William",A,Piano
38e072a7-8fc9-4f9a-8eac-3957905c0002,"Hill, Ureli Corelli",A,Violin

### Using flatten_json function

In [34]:
# function to flatten nested json
def flatten_json(json):
    output = {}
    
    def flatten(inpt, name=''):
        if type(inpt) is dict:
            for elem in inpt:
                flatten(inpt[elem], name + elem + '_')
        elif type(inpt) is list:
            i = 0
            for elem in inpt:
                flatten(elem, name + str(i) + '_')
                i += 1
        else:
            output[name[:-1]] = inpt
            
            
    flatten(json)
    return output

In [35]:
nyc_data_flattened = [flatten_json(row) for row in nyc_data["programs"]]

In [38]:
nyc_data_flattened[0]

{'season': '1842-43',
 'orchestra': 'New York Philharmonic',
 'concerts_0_Date': '1842-12-07T05:00:00Z',
 'concerts_0_eventType': 'Subscription Season',
 'concerts_0_Venue': 'Apollo Rooms',
 'concerts_0_Location': 'Manhattan, NY',
 'concerts_0_Time': '8:00PM',
 'programID': '3853',
 'works_0_workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP.67',
 'works_0_conductorName': 'Hill, Ureli Corelli',
 'works_0_ID': '52446*',
 'works_0_composerName': 'Beethoven,  Ludwig  van',
 'works_1_workTitle': 'OBERON',
 'works_1_composerName': 'Weber,  Carl  Maria Von',
 'works_1_conductorName': 'Timm, Henry C.',
 'works_1_ID': '8834*4',
 'works_1_soloists_0_soloistName': 'Otto, Antoinette',
 'works_1_soloists_0_soloistRoles': 'S',
 'works_1_soloists_0_soloistInstrument': 'Soprano',
 'works_1_movement': '"Ozean, du Ungeheuer" (Ocean, thou mighty monster), Reiza (Scene and Aria), Act II',
 'works_2_workTitle': 'QUINTET, PIANO, D MINOR, OP. 74',
 'works_2_ID': '3642*',
 'works_2_soloists_0_soloistName': 'Scharfenberg, William',
 'works_2_soloists_0_soloistRoles': 'A',
 'works_2_soloists_0_soloistInstrument': 'Piano',
 'works_2_soloists_1_soloistName': 'Hill, Ureli Corelli',
 'works_2_soloists_1_soloistRoles': 'A',
 'works_2_soloists_1_soloistInstrument': 'Violin',
 'works_2_soloists_2_soloistName': 'Derwort, G. H.',
 'works_2_soloists_2_soloistRoles': 'A',
 'works_2_soloists_2_soloistInstrument': 'Viola',
 'works_2_soloists_3_soloistName': 'Boucher, Alfred',
 'works_2_soloists_3_soloistRoles': 'A',
 'works_2_soloists_3_soloistInstrument': 'Cello',
 'works_2_soloists_4_soloistName': 'Rosier, F. W.',
 'works_2_soloists_4_soloistRoles': 'A',
 'works_2_soloists_4_soloistInstrument': 'Contrabass',
 'works_2_composerName': 'Hummel,  Johann',
 'works_3_interval': 'Intermission',
 'works_3_ID': '0*',
 'works_4_workTitle': 'OBERON',
 'works_4_composerName': 'Weber,  Carl  Maria Von',
 'works_4_conductorName': 'Etienne, Denis G.',
 'works_4_ID': '8834*3',
 'works_4_movement': 'Overture',
 'works_5_workTitle': 'ARMIDA',
 'works_5_composerName': 'Rossini,  Gioachino',
 'works_5_conductorName': 'Timm, Henry C.',
 'works_5_ID': '8835*1',
 'works_5_soloists_0_soloistName': 'Otto, Antoinette',
 'works_5_soloists_0_soloistRoles': 'S',
 'works_5_soloists_0_soloistInstrument': 'Soprano',
 'works_5_soloists_1_soloistName': 'Horn, Charles Edward',
 'works_5_soloists_1_soloistRoles': 'S',
 'works_5_soloists_1_soloistInstrument': 'Tenor',
 'works_5_movement': 'Duet',
 'works_6_workTitle': 'FIDELIO, OP. 72',
 'works_6_composerName': 'Beethoven,  Ludwig  van',
 'works_6_conductorName': 'Timm, Henry C.',
 'works_6_ID': '8837*6',
 'works_6_soloists_0_soloistName': 'Horn, Charles Edward',
 'works_6_soloists_0_soloistRoles': 'S',
 'works_6_soloists_0_soloistInstrument': 'Tenor',
 'works_6_movement': '"In Des Lebens Fruhlingstagen...O spur ich nicht linde," Florestan (aria)',
 'works_7_workTitle': 'ABDUCTION FROM THE SERAGLIO,THE, K.384',
 'works_7_composerName': 'Mozart,  Wolfgang  Amadeus',
 'works_7_conductorName': 'Timm, Henry C.',
 'works_7_ID': '8336*4',
 'works_7_soloists_0_soloistName': 'Otto, Antoinette',
 'works_7_soloists_0_soloistRoles': 'S',
 'works_7_soloists_0_soloistInstrument': 'Soprano',
 'works_7_movement': '"Ach Ich liebte," Konstanze (aria)',
 'works_8_workTitle': 'OVERTURE NO. 1, D MINOR, OP. 38',
 'works_8_conductorName': 'Timm, Henry C.',
 'works_8_ID': '5543*',
 'works_8_composerName': 'Kalliwoda,  Johann  W.',
 'id': '38e072a7-8fc9-4f9a-8eac-3957905c0002'}

In [39]:
nyc_df_flat  = pd.DataFrame(nyc_data_flattened)

In [40]:
nyc_df_flat.head(3)

,season,orchestra,concerts_0_Date,concerts_0_eventType,concerts_0_Venue,concerts_0_Location,concerts_0_Time,programID,works_0_workTitle,works_0_conductorName,...,works_7_soloists_67_soloistInstrument,works_7_soloists_68_soloistName,works_7_soloists_68_soloistRoles,works_7_soloists_68_soloistInstrument,works_7_soloists_69_soloistName,works_7_soloists_69_soloistRoles,works_7_soloists_69_soloistInstrument,works_7_soloists_70_soloistName,works_7_soloists_70_soloistRoles,works_7_soloists_70_soloistInstrument
0,1842-43,New York Philharmonic,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,3853,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1842-43,New York Philharmonic,1843-02-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,5178,"SYMPHONY NO. 3 IN E FLAT MAJOR, OP. 55 (EROICA)","Hill, Ureli Corelli",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1842-43,Musicians from the New York Philharmonic,1843-04-07T05:00:00Z,Special,Apollo Rooms,"Manhattan, NY",8:00PM,10785,"EGMONT, OP.84","Hill, Ureli Corelli",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN